@font-face {
  font-family: "AlibabaSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("//mdn.alipayobjects.com/huamei_iwk9zp/afts/file/A*1GSgSYDD_aIAAAAAQsAAAAgAegCCAQ/AlibabaSans-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "AlibabaSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("//mdn.alipayobjects.com/huamei_iwk9zp/afts/file/A*2zEUQqnPNesAAAAAQtAAAAgAegCCAQ/AlibabaSans-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "AlibabaSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("//mdn.alipayobjects.com/huamei_iwk9zp/afts/file/A*E_cxRbMlZqUAAAAAQuAAAAgAegCCAQ/AlibabaSans-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "AlibabaSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("//mdn.alipayobjects.com/huamei_iwk9zp/afts/file/A*E_cxRbMlZqUAAAAAQuAAAAgAegCCAQ/AlibabaSans-Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "AlibabaSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("//mdn.alipayobjects.com/huamei_iwk9zp/afts/file/A*E_cxRbMlZqUAAAAAQuAAAAgAegCCAQ/AlibabaSans-Heavy.woff2")
    format("woff2");
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    AlibabaSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

.image-editor-cropper {
  .cropper-container {
    height: 100% !important;
    width: 100% !important;
  }

  .cropper-view-box {
    outline: 2px solid #1677ff;
    outline-color: rgba(22, 119, 255, 0.95);
  }

  .cropper-line {
    background-color: #1677ff;
    opacity: 0.8;
  }

  .cropper-point {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background-color: #1677ff;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 1;
  }

  .cropper-point.point-e {
    right: -6px;
    margin-top: -6px;
  }

  .cropper-point.point-n {
    top: -6px;
    margin-left: -6px;
  }

  .cropper-point.point-w {
    left: -6px;
    margin-top: -6px;
  }

  .cropper-point.point-s {
    bottom: -6px;
    margin-left: -6px;
  }

  .cropper-point.point-ne {
    top: -6px;
    right: -6px;
  }

  .cropper-point.point-nw {
    top: -6px;
    left: -6px;
  }

  .cropper-point.point-sw {
    bottom: -6px;
    left: -6px;
  }

  .cropper-point.point-se {
    right: -6px;
    bottom: -6px;
    width: 12px;
    height: 12px;
  }
}
